<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;


            table-layout: fixed;
            overflow-x: auto;
            width: 100%;
            word-wrap: break-word;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0080ff;
            color: white;
        }

        .column {
            height: 40px;
            width: 50%;
            /* as @passatgt mentioned in the comment*/
            width: calc(100% / 3);
            display: inline-block;
            margin-left: 60px;
            letter-spacing: 1.9px;
        }
    </style>
</head>

<body>
    <page size="A4">
        {{#if this.value1}}
        <center>
            <b>
                <h1 style="color: blue;">{{this.value1.SubjectName}}</h1>
            </b>
        </center>
        <div style="height:85%">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title1}}</b></h3>
                <p style="color: red;">(Hướng dẫn: mô tả các thông tin cơ bản của môn học)</p>
            </div>
            
            <div style="margin-left: 10%;margin-right:10%">
                <div>
                    <div class="column">
                        Tên môn học (tiếng Việt):
                    </div>
                    <div class="column">
                        {{this.value1.SubjectName}}
                    </div>
                </div>
                <div>
                    <div class="column">
                        Tên môn học (tiếng Anh):
                    </div>
                    <div class="column">
                        {{this.value1.SubjectEngName}}
                </div>
                <div>
                    <div class="column">
                        Mã số môn học:
                    </div>
                    <div class="column">
                        {{this.value1.SubjectCode}}
                    </div>
                </div>
                {{!-- <div>
                    <div class="column">
                        Thuộc khối kiến thức:
                    </div>
                    <div class="column">
                        {{this.value1.khoiKienThuc}}
                    </div>
                </div> --}}
                <div>
                    <div class="column">
                        Số tín chỉ:
                    </div>
                    <div class="column">
                        {{this.value1.Credit}}
                    </div>
                    <div style="margin-left:30px">
                        <div>
                            <div class="column">
                                Số tiết lý thuyết:
                            </div>
                            <div class="column">
                                {{this.value1.TheoryPeriod}}
                            </div>
                        </div>
                        <div>
                            <div class="column">
                                Số tiết thực hành:
                            </div>
                            <div class="column">
                                {{this.value1.PracticePeriod}}
                            </div>
                        </div>
                        <div>
                            <div class="column">
                                Số tiết tự học:
                            </div>
                            <div class="column">
                                {{this.value1.ExercisePeriod}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>

        {{/if}}
        {{#if this.value2}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title2}}</b></h3>
                <p style="color: red;">(Hướng dẫn: một đoạn văn mô tả tóm tắt về nội dung của môn học)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Mô tả môn học</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>{{this.value2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value3}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title3}}</b></h3>
                <p style="color: red;">(Hướng dẫn: Liệt kê các mục tiêu môn học, từ 5-8 mục tiêu ở mức độ tổng
                    quát. Sử dụng động từ Bloom ở mức độ nhóm. Mỗi mục tiêu môn học được mapping với chuẩn đầu ra
                    cấp chương trình)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Mục tiêu</th>
                        <th>Mô tả</th>
                        <th>CĐR CDIO của chương trình</th>
                    </tr>

                    {{#each this.value3}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.objectName}}</center>
                            </td>
                            <td>{{this.description}}</td>
                            <td>{{this.standActs}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value4}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title4}}</b></h3>
                <p style="color: red;">(Hướng dẫn: Mô tả chi tiết các chuẩn đầu ra của môn học. Ứng với mỗi mục tiêu ở mục phía trên có
thể có 1 hay nhiều chuẩn đầu ra chi tiết. Đánh mã số chuẩn đầu ra môn học ở cấp 2 tương ứng với mỗi
mục tiêu môn học. Mức độ được thể hiện bằng các ký hiệu I-Introduce, T-Teach và U-Utilize. Các động
từ mô tả được sử dụng từ các động từ chi tiết của Bloom cho mức độ tương ứng – xem thêm bảng các
động từ Bloom chi tiết cho ngành kỹ thuật.)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Chuẩn đầu ra</th>
                        <th>Mức độ đạt được</th>
                        <th>Mô tả (Mức chi tiết - hành động)</th>
                        <th>Mức độ (I/T/U)</th>
                    </tr>

                    {{#each this.value4}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.cdr}}</center>
                            </td>
                            <td>{{this.level_verb}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.levels}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value5}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title5}}</b></h3>
                <p style="color: red;">(Hướng dẫn: Mô tả chi tiết quá trình giảng dạy theo từng chủ đề: tên chủ đề,
                    danh sách các chuẩn đầu ra chi tiết tương ứng với mỗi chủ đề, các hoạt động dạy và học gợi ý,
                    các hoạt động đánh giá nếu có)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Tên chủ đề</th>
                        <th>Hoạt động giảng dạy</th>
                        <th>Chuẩn đầu ra</th>
                        <th>Hoạt động đánh giá</th>
                    </tr>

                    {{#each this.value5}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.titleName}}</center>
                            </td>
                            <td>{{this.teachingActs}}</td>
                            <td>{{this.standardOutput}}</td>
                            <td>{{this.evalActs}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value6}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title6}}</b></h3>
                <p style="color: red;">(Hướng dẫn: Mô tả chi tiết quá trình giảng dạy theo từng chủ đề:
                tên chủ đề, danh sách các chuẩn đầu ra chi tiết tương ứng với
                mỗi chủ đề, các hoạt động dạy và học gợi ý, các hoạt động
                đánh giá nếu có)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Tuần</th>
                        <th>Chủ đề</th>
                        <th>Chuẩn đầu ra</th>
                        <th>Hoạt động dạy/ Hoạt động học</th>
                        <th>Hoạt động đánh giá</th>
                    </tr>

                    {{#each this.value6}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.key}}</center>
                            </td>
                            <td>{{this.titleName}}</td>
                            <td>{{this.standardOutput}}</td>
                            <td>{{this.teachingActs}}</td>
                            <td>{{this.evalActs}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value7}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title7}}</b></h3>
                <p style="color: red;">(Mô tả các thành phần bài tập, bài thi, đồ án
                    ... dùng để đánh giá kết quả của sinh viên khi tham gia môn học này. Bên cạnh mỗi nhóm bài tập, bài thi... cần có tỉ lệ % điểm tương ứng)</p>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Mô tả(gợi ý)</th>
                        <th>Các chuẩn đầu ra được đánh giá</th>
                        <th>Tỉ lệ</th>
                    </tr>

                    {{#each this.value7}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.key}}</center>
                            </td>
                            <td>{{this.tenthanhphan}}</td>
                            <td>{{this.mota}}</td>
                            <td>{{this.standardOutput}}</td>
                            <td>{{this.tile}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value8}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title8}}</b></h3>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>STT</th>
                        <th>Loại</th>
                        <th>Mô tả</th>
                        <th>Link liên kết</th>
                    </tr>

                    {{#each this.value8}}
                    <tbody>
                        <tr>
                            <td>
                                <center>{{this.stt}}</center>
                            </td>
                            <td>{{this.loai}}</td>
                            <td>{{this.mota}}</td>
                            <td>{{this.link}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

        {{#if this.value9}}
        <div style="height: 85%;">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>{{this.title9}}</b></h3>
            </div>
            <div style="margin-left: 10%;margin-right:10%">
                <table id="customers">
                    <tr>
                        <th>Nội dung</th>
                    </tr>

                    {{#each this.value9}}
                    <tbody>
                        <tr>
                            <td>{{this.content}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

    </page>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>